@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1
  }
}

@media (max-width: 768px) {

  .customMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .customMobile div {
    width: 90%;
  }

  .customForm {
    width: 100% !important;
    margin-top: 50px;
  }

  .customForm input {
    width: 50%;
  }
}